.monospaced {
  font-family: monospace, ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New";
  font-weight: normal;
  color: #DCDCDC;
}

.codeview, .codeview * {
  font-family: monospace, ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New";
  font-size: 14px;
  font-weight: normal;
}